In [26]:
import pandas as pd

In [27]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\atharva malavi\appdata\local\programs\python\python313\lib\site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in c:\users\atharva malavi\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.3.0)
Requirement already satisfied: scipy>=1.8.0 in c:\users\atharva malavi\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\atharva malavi\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\atharva malavi\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.6.0)

In [28]:
# sample data 
data = {
    'CustomerID': ['C001', 'C002', 'C003', 'C004', 'C005', 'C006', 'C007', 'C008'],
    'Education_Level': ['High School', 'Bachelors', 'Masters', 'PhD', 'Bachelors', 'High School', 'Masters', 'PhD'],
    'Product_Quality': ['Low', 'Medium', 'High', 'Medium', 'Low', 'High', 'Medium', 'High'],
    'Satisfaction_Level': ['Poor', 'Average', 'Excellent', 'Good', 'Average', 'Poor', 'Good', 'Excellent']
}

df = pd.DataFrame(data)

In [29]:
df

  CustomerID Education_Level Product_Quality Satisfaction_Level
0       C001     High School             Low               Poor
1       C002       Bachelors          Medium            Average
2       C003         Masters            High          Excellent
3       C004             PhD          Medium               Good
4       C005       Bachelors             Low            Average
5       C006     High School            High               Poor
6       C007         Masters          Medium               Good
7       C008             PhD            High          Excellent

In [30]:
# Define the order for each ordinal feature

education_order = ['High School', 'Bachelors', 'Masters', 'PhD']
product_quality_order = ['Low', 'Medium', 'High']
satisfaction_order = ['Poor', 'Average', 'Good', 'Excellent']

In [24]:
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder(categories=[education_order, 
            product_quality_order, satisfaction_order])

In [25]:
# Apply Encoding (skip Customer ID as it is idenfier)

df[['Education_Level', 'Product_Quality', 'Satisfaction_Level']] = encoder.fit_transform(
    df[['Education_Level', 'Product_Quality', 'Satisfaction_Level']]
)

NameError: name 'encoder' is not defined